h1 {
	color: black;
}

body {
	background-color: #dbdbdb;
}
.addShip {
	margin-top: 50px;
	heigth:10%;
	width:20%;
	position:relative;
}

.container {
	width:10px;
	padding-bottom:5px;
	padding-top:5px;
	height:0;
	positions:absolute;
}

#links {
	background-color: #d1d1d1;
	width: 100%;
	text-align: center;
	border-bottom: 3px solid #06007a;
	border-left: 3px solid #06007a;
	border-right: 3px solid #06007a;
}
#racingShips {
	width:50%;
}
th{
	width:20%;
}
.centeredTable {
	padding-bottom:25px;
	margin-left:37%;
	width:50%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

#destinationSelection {
	margin-left:15px;
	width:10%;
}
li {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
}

.formatBody {
	margin-top: 210px;
}

header {
	width: 100%;
	background-color: #ddda27;
	background-size: cover;
	color: black;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 40px;
	margn-left: 50px;
	border: 3px solid black;
}

footer {
	background-color: #e02b0b;
	text-align: center;
	margin: 0;
	padding: 0;
}

#laforge {
	width: 15%;
}

#logo {
	float: left;
	width: 10%;
	padding-right: 30px;
}

.center {
	margin: auto;
	width: 50%;
	padding: 30px;
}


#planetImage {
	width: 30%;
	margin-left: 30px;
	margin-top:3%;
}

#planetInfo {
	margin-left: 5%;
	margin-right:20px;
	margin-top:5%;
	margin-bottom:10%;
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.shipImage {
	width: 40%;
	float: left;
}

.shipInfo {
	margin-left: 30px;
	display: inline-block;
	vertical-align: top;
	width: 60%;
}

.travelInfo {
	margin-left: 20%;
	display: inline;
	vertical-align: top;
	margin-bottom:10px;
}
#formatingTravelInfo {
	margin-left:20px;
	margin-bottom:20px;
}


#resultsBackground {
	background-color: #ffffff;
	margin-left: 10%;
	margin-right: 10%;
}

.homePageShips {
	min-height: 300px;
	margin: 15px;
	bottom: 0;
	border-bottom: 2px solid black;
}
#comparer {
	position:fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}
#addShip {
	margin-top: 50px;
	heigth:10%;
	width:20%;
	position:relative;
}

.selections {
	overflow:visible;
    pointer-events:auto;
	padding: 40px;
	margin-left: 10px;
	margin-top: 90px;
	bottom: 0;
}

.logoTitle {
	background-color: #ddda27;
}

#flightInfo {
	margin: 40px;
	background-color: white;
	border: solid black 2px;
	border-radius: 15px;
}

#nameId {
	
}

#shipSelect {
	
}